<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>User List Manager</title>
</head>
<body>
<div align="center">
    <div sec:authorize="isAuthenticated()">
        Welcome <b><span sec:authentication="name"></span></b>
        &nbsp;&nbsp;
        <a th:href="@{/user}">View my info</a>

    </div>

    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>

    <h1>User List Manager</h1>
    <div>
        <a href='/admin/new'>Create New User</a>
    </div>

    <br/><br/>
    <table border="1" cellpadding="10">
        <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Nationality</th>
            <th>Username</th>
            <th>Password</th>
            <th>Operations</th>


        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${getAllUsers}">
            <td th:text="${user.id}">ID</td>
            <td th:text="${user.name}">Name</td>
            <td th:text="${user.age}">Age</td>
            <td th:text="${user.nationality}">Nationality</td>
            <td th:text="${user.username}">Username</td>
            <td th:text="${user.password}">Password</td>

            <td>
                <a th:href="'/admin/edit/' + ${user.username}">Edit</a>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <a th:href="@{'/admin/delete/' + ${user.id}}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>